# IntelliJ project files
.idea/
*.iml
*.log
*.class
*.jar
*.war
*.ear
.env
application-local.yml
application-secrets.yml

.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar


**/build/
**/.gradle/
**/.idea/
**/*.iml